// Font sizes
$h1-font-size: 50px;
$h2-font-size: 35px;
$h3-font-size: 30px;
$h4-font-size: 18px;
$base-font-size: 16px;

// Line heights
$h1-line-height: 50px;
$h2-line-height: 35px;
$h3-line-height: 40px;
$h4-line-height: 30px;
$base-line-height: 24px;

// Font family
$primary-font-family: 'Lato', sans-serif;

// Colors
$primary-color: #1B7dff;
$secondary-color: #102746;
$white-color: #fff;
$black-color: #000;

// Gradients
$primary-gradient: linear-gradient(274.65deg, rgba(53, 66, 103, .0001) 23.56%, #151824 86.3%);

// Overlays
$primary-overlay: rgba(21, 24, 36, .6);
$secondary-overlay: rgba(21, 24, 36, .4);

//Shadows
$primary-box-shadow: 0px 2px 20px rgba(21, 24, 36, .16);

//Gutter
$gutter-width: 10px;

//Breakpoints
$sm-breakpoint: 767px;
$md-breakpoint: 1160px;