// Utility classes
// flex
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

// spacings
.center {
    margin: 0 auto
}

    // margin all 0
.ma0 {
    margin: 0;
}
    // padding all 0
.pa0 {
    padding: 0;
}

// widths
.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-66 {
    width: 66.66%;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33.33%;
}

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

// max-widths
.mw1 {
    max-width: 1100px;
}

// colors
.blue {
    color: #1B7DFF;
}

.bg-blue {
    background-color: #1B7DFF;
}

.dark-blue {
    color: #151824;
}

.bg-dark-blue {
    background-color: #151824;
}

.white {
    color: #FFF;
}

.bg-white {
    background-color: #FFF;
}

.black {
    color: #000;
}

.bg-black {
    background-color: #000;
}

// text
.ttu {
    text-transform: uppercase;
}

.list {
    list-style-type: none;
}
