// Header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding-top: $gutter-width * 3;
    padding-bottom: $gutter-width * 3;
}

.header__nav {
    display: flex;
    
    li {
        margin-left: $gutter-width * 2;

        &:last-child {
            display: none;
        }
        @media screen and (min-width: $sm-breakpoint) {
            margin-left: $gutter-width * 4;
            
            &:last-child {
                display: block;
            }            
        }
    }
}