// Hero
.hero {
    background-image: url("../images/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 42px;
    padding-bottom: 42px;
}