// Colors utilities
.blue {
    color: $primary-color;
}

.bg-blue {
    background-color: $primary-color;
}

.dark-blue {
    color: $secondary-color;
}

.bg-dark-blue {
    background-color: $secondary-color;
}

.white {
    color: $white-color;
}

.bg-white {
    background-color: $white-color;
}

.black {
    color: $black-color;
}

.bg-black {
    background-color: $black-color;
}