// Spacings utilities
.center {
    margin: 0 auto;
}

.ma0 {
    margin: 0;
}

.pa0 {
    padding: 0;
}

.mt1 {
    margin-top: $gutter-width;
}

.mt2 {
    margin-top: $gutter-width*2;
}

.mt3 {
    margin-top: $gutter-width*3;
}

.mt4 {
    margin-top: $gutter-width*4;
}