// Text utilities
.ttu {
    text-transform: uppercase;
}

.list {
    list-style-type: none;
}

.no-underline {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}