// Font
body {
    font-family: $primary-font-family;
    font-size: $base-font-size;
}

p {
    margin: 0;
}

%h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    margin: 0;
    padding: 0;
}

%h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    margin: 0;
    padding: 0;
}

%h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    margin: 0;
    padding: 0;
}

%h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    margin: 0;
    padding: 0;
}

%p {
    font-size: $base-font-size;
    font-weight: 400;
    line-height: $base-line-height;
    margin: 0;
    padding: 0;
}

.typography {
    h1 {
        @extend %h1;
    }

    h2 {
        @extend %h2;
    }

    h3 {
        @extend %h3;
    }

    h4 {
        @extend %h4;
    }

    p {
        @extend %p;
    }
}

.h1 {
    @extend %h1;
}

.h2 {
    @extend %h2;
}

.h3 {
    @extend %h3;
}

.h4 {
    @extend %h4;
}

.p {
    @extend %p;
}