// Form field
.input {
    width: 100%;

    label {
        font-size: $base-font-size;
        color: $white-color;
        font-weight: 400;
        display: block;
    }

    input {
        border: 0;
        border-bottom: 1px solid $white-color;
        background: transparent;
        outline: 0;
        color: white;
        width: 100%;
    }
}