// Overlay
.bg-overlay {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        transition: 240ms opacity;
    }

    > * {
        position: relative;
        z-index: 1;
    }
} 

.bg-overlay--link {
    display: block;
    overflow: hidden;
    margin: $gutter-width / 2;
    background-size: cover;

    &:hover {
        &::before {
            opacity: .75;
        }
    }
}

.bg-overlay--primary {
    &::before {
        background-color: $primary-overlay;
    }
}

.bg-overlay--secondary {
    &::before {
        background-color: $secondary-overlay;
    }
}

.bg-overlay--gradient {
    &::before {
        background: $primary-gradient;
    }
}

.bg-overlay__title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $gutter-width;
    @media screen and (min-width: $sm-breakpoint) {
        padding: $gutter-width * 3;
    }
}